$fiche1: #f9f8f6;
$fiche2: #d2d1cf;
$frame: #d00c27;
$text: #191919;
$learned1: #35f922;
$learned2: #57f929;
$unlearned1: #f90000;
$unlearned2: #ff1f15;

body{
  background-color: #d9d9d9;
}
#info{
  display: none;
  color: $text;
  font-size: 1.6em;;
}
#container{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  padding-top: 1.5em;
}
#counter{
  background-image: linear-gradient($fiche1, $fiche2);
  border: 2px solid $frame;
  border-radius: 3px;
  width: 65px;
  span{
    font-size: 1.6em;;
    color: $text;
  }
}
#unlearned{
  background-image: linear-gradient($unlearned1, $unlearned2);
  border: 2px solid $unlearned1;
}
#learned{
  background-image: linear-gradient($learned1, $learned2);
  border: 2px solid $learned1;
}
#ficheContainer{
  width: 400px;
  height: 220px;
  line-height: 100px;
}
.fische {
  background-image: linear-gradient($fiche1, $fiche2);
  border-radius: 3px;
  border-style: solid;
  border-width: 5px;
  border-color: $frame;

  .text{
    text-align: center;
    margin-left: 0.5em;
    font-size: 3em;
    color: $text;
  }
}
.mybutton{
  border: none;
  background-color: #f2f2f2;
  font-size: 30px;
  border-radius: 3px;
  color: $text;
  margin-top: 5px;
  display: none;
}
#nextStage{
  display: none;
}
#nextStage{
  display: none;
}
.speakerButton{
  border: none;
  background-color: inherit;
  font-size: 2em;
  -webkit-appearance: caret;
}
