.pl{
    width: 47%;
    margin-top: 0;
    float:left;
    margin-right: 0%;
    margin-left: 0%;
}

.eng{
    width: 20%;
    margin-top: 0;
    float:left;
    margin-left: 0;
    height: 2.5em;
}

.eng li{
    width:52.5%;
    height: 2.24em;
    line-height: 2.24em;
    margin-bottom: 2%;
    background-color: #2929bc;
    color: white;
    border-radius: 0.75em;
    padding: 2%;
    font-size:20px;
    text-align: center;
    list-style-type: none;
}


#wordpl-1, #wordpl-2, #wordpl-3,#wordpl-4,#wordpl-5, #wordpl-6, #wordpl-7,#wordpl-8{
    width:20%;
    height: 1.5em;
    line-height: 1.5em;
    margin-bottom: 1%;
    margin-left: 70%;
    background-color: #2929bc;
    color: white;
    border-radius: 0.75em;
    padding: 2%;
    font-size:20px;
    text-align: center;
}


.btn{
    background:#cc0000;
    width:250px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #2929bc 2px solid;
    height:70px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:38%;
    font-weight:800;
    font-size:0.8em;
    border-radius: 0.75em;
    font-size:20px;
}
#stat{
    display: none;
}
#stats{
    display: none;
    float:left;
    margin-top:0;
    margin-left:15%;
}
#bad{
    font-color:#cc0000;
    font-size:20px;
}
#corr{
    font-color:#2929bc;
    font-size:20px;
}
#next{
    display: none;
}
#title{
    font-color:#2929bc;
    font-size:20px;
}
#checksymb{
    float:left;
    width: 20%;

}
#check-1,#check-2,#check-3,#check-4,#check-5,#check-6,#check-7,#check-8{
    width:52.5%;
    height: 3.6em;
    line-height: 3.6em;
    margin-bottom: 2%;
}
