#container{
    text-align: center;
}
#check{
    background-image: linear-gradient(#f9f8f6,#d2d1cf);
    color: #191919;
    border: 2px solid #d00c27;
    border-radius: 3px;
    padding: 0.5%;
    font-size:calc(7px + 1vw);
    text-align: center;
    margin-top:1%;
    width:8%;
    min-width:60px;
    min-height: 20px;
    font-family: Cambria Math;

}

#next {
    display: none;
    background-image: linear-gradient(#f9f8f6,#d2d1cf);
    color: #191919;
    border: 2px solid #d00c27;
    border-radius: 3px;
    padding: 0.5%;
    font-size:calc(7px + 1vw);
    text-align: center;
    margin-top:1%;
    width:8%;
    min-width:60px;
    min-height: 20px;
    font-family: Cambria Math;
}
#stat,#repeat,#NextLesson {
    display: none;
    background-image: linear-gradient(#f9f8f6,#d2d1cf);
    color: #191919;
    border: 2px solid #d00c27;
    border-radius: 3px;
    padding: 0.5%;
    font-size:calc(7px + 0.8vw);
    text-align: center;
    margin-top:1%;
    width:8%;
    font-family: Cambria Math;
    min-width:60px;
    min-height: 20px;
}
#wordToTranslate{
    font-size:calc(10px + 2vw);
    margin-top:4%;
    font-family: Cambria Math;
}
#wordToCheck{
    border-top:none;
    font-size:calc(10px + 1.5vw);
    border-left: none;
    border-right: none;
    border-width: 2px;
    border-color: rgb(64, 64, 64);
    text-align: center;
    margin-top:1%;
    font-family: Cambria Math;
    backgroun-color:inherit;

}
#checkResult,#checkResult2,#Result{
    margin-top:1%;
    font-family: Cambria Math;
    font-size:calc(7px + 1vw);
}
#return{
    display: none;
    background-image: linear-gradient(#f9f8f6,#d2d1cf);
    color: #191919;
    border: 2px solid #d00c27;
    border-radius: 3px;
    padding: 0.5%;
    font-size:calc(7px + 1vw);
    text-align: center;
    margin-top:1%;
    width:8%;
    font-family: Cambria Math;
    min-width:60px;
    min-height: 20px;
}