body {
  background-color: #d9d9d9; }

#info {
  display: none;
  color: #191919;
  font-size: 3em; }

#container {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

#counter {
  background-image: linear-gradient(#f9f8f6, #d2d1cf);
  border: 2px solid #d00c27;
  border-radius: 3px;
  width: 65px; }
  #counter span {
    font-size: 23px;
    color: #191919; }

#unlearned {
  background-image: linear-gradient(#f90000, #ff1f15);
  border: 2px solid #f90000; }

#learned {
  background-image: linear-gradient(#35f922, #57f929);
  border: 2px solid #35f922; }

#ficheContainer {
  width: 400px;
  height: 220px;
  line-height: 100px; }

.fische {
  background-image: linear-gradient(#f9f8f6, #d2d1cf);
  border-radius: 3px;
  border-style: solid;
  border-width: 5px;
  border-color: #d00c27; }
  .fische .text {
    text-align: center;
    margin-left: 0.5em;
    font-size: 3em;
    color: #191919; }

.mybutton {
  border: none;
  background-color: #f2f2f2;
  font-size: 30px;
  border-radius: 3px;
  color: #020202;
  margin-top: 5px;
  display: none; }

#nextStage {
  display: none; }

.speakerButton {
  border: none;
  background-color: inherit;
  font-size: 2em; }
