html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f8f6;
    width: 100%;
    height: 100%;
    padding: 0;
}

/***************************************** HEADER *******************************************/

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

ul.menu li {
    float: left;
}

ul.menu li a {
    text-transform: uppercase;
    display: block;
    color: #000000;
    text-align: center;
    padding: 15px 0 15px 25px;
    text-decoration: none;
}

ul.menu li a:hover:not(.active) {
    color: #001f7e;
}

ul.menu li a.active {
    color: #d00c27;
}

ul.menu li.right {
    float: right;
}

ul.menu img, ul.menu h1 {
    display: inline;
}

ul.menu img {
    width: 100px;
    height: 50px;
}

@media screen and (max-width: 670px) {
    ul.menu li.right, ul.menu li {
        float: none;
    }

    ul.menu img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    ul.menu li a {
        padding-left: 0;
    }
}

/***************************************** SLIDER *******************************************/

slider {
    display: block;
    width: 100%;
    height: 88.8%;
    overflow: hidden;
    position: absolute;
}

slider > * {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    animation: slide 20s infinite;
    overflow: hidden;
}

slide:nth-child(1) {
    left: 0;
    animation-delay: -1s;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/tlo.jpg");
    background-size: cover;
    background-position: center;
}

slide:nth-child(2) {
    left: 100%;
    animation-delay: 4s;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/krolowa.jpg");
    background-size: cover;
    background-position: center;
}

slide:nth-child(3) {
    left: 100%;
    animation-delay: 9s;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/autobus.jpg");
    background-size: cover;
    background-position: center;
}

slide:nth-child(4) {
    left: 100%;
    animation-delay: 14s;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/oko.jpg");
    background-size: cover;
    background-position: center;
}

slide h2 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 340px;
    color: #000000;
}

slide h3 {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 50px;
    color: #000000;
}

slide button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}

#login {
    background-color: #d00c27;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

#hello {
    background-color: #001f7e;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

@keyframes slide {
    0% {
        left: 100%;
        width: 100%;
    }

    5% {
        left: 0;
    }

    25% {
        left: 0;
    }

    30% {
        left: -100%;
        width: 100%;
    }

    30.0001% {
        left: -100%;
        width: 0;
    }

    100% {
        left: 100%;
        width: 0;
    }
}

/***************************************** CONTACT *******************************************/

#contact {
    box-sizing: border-box;
    text-transform: uppercase;
    margin: 80px auto;
    width: 50%;
}

#contact h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

#contact input[type=text], #contact input[type=email], #contact select, #contact textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#contact input[type=submit] {
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    background-color: #001f7e;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#contact input[type=submit]:hover {
    background-color: #d00c27;
}

#contact textarea {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #f9f8f6;
    padding: 20px;
}

/***************************************** MENU *******************************************/

.sidenav {
    height: 88.4%;
    width: 0;
    position: relative;
    top: 0;
    left: 0;
    background-color: #e0dfdd;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.centerSidenav {
    position: absolute;
    padding-left: 30%;
}

.centerSidenav a, .closebtn {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: 0.3s;
    color: #000000;
}

.centerSidenav a:hover, .closebtn:hover {
    color: #001f7e;
}

.centerSidenav a.active {
    color: #d00c27;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#learn {
    transition: margin-left .5s;
    position: absolute;
    top: 50%;
    left: 50%;
}

#menuSidenav, #learn {
    display: inline-block;
}

@media screen and (max-width: 670px) {
    #menuSidenav {
        width: 100%;
    }

    .centerSidenav a, .closebtn {
        font-size: 15px;
    }

    .sidenav, .centerSidenav {
        padding-top: 15px;
    }
}
/***************************************** LOGIN & REGISTRATION *******************************************/

.box {
    box-sizing: border-box;
    text-transform: uppercase;
    margin: 80px auto;
    width: 50%;
}

.box h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.box input[type=text], .box input[type=password], .box input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.box form {
    background-color: #f9f8f6;
    padding: 20px;
}

.box button {
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    background-color: #001f7e;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.box button:hover {
    background-color: #d00c27;
}

.box a {
    cursor: pointer;
    text-decoration: none;
    text-transform: initial;
}

#signUp, #reset:hover {
    color: #001f7e;
    cursor: pointer;
}

#reset, #signUp:hover {
    color: #d00c27;
    cursor: pointer;
}

/***************************************** USER *******************************************/
#user {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 35%;
    transform: translateY(-35%);
}

#userPictrue {
    font-size: 250px;
}

#crown {
    color: #ffbf00;
}

.userData {
    padding-top: 10%;
    display: flex;
    justify-content: center;
}

.userData table {
    align-self: center;
    width: 100px;
}

.userData td {
    width: 50%;
    padding: 0 5px;
}

@media screen and (max-width: 670px) {
    #user {
        padding-bottom: 35%;
    }
}
