<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="System umożliwi efektywne przyswajanie wiedzy poprzez różnorodne sposoby nauczania.">
        <meta name="keywords" content="angielski, słówka, nauka, poziom, online, słownictwo">
        <meta name="author" content="Weronika Jasiak">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Nazwa</title>
        <link rel="stylesheet" href="../public/css/reset.css" th:href="@{css/reset.css}">
        <link rel="stylesheet" href="../public/css/styleIndex.css" th:href="@{css/styleIndex.css}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" th:href="@{https://use.fontawesome.com/releases/v5.5.0/css/all.css}">
    </head>
    <body>
        <header>
            <nav id="main-nav">
                <ul class="menu">
                    <li><img src="../public/images/flaga.png" alt="flaga" th:src="@{images/flaga.png}"></li>
                    <li><a class="active" href="#"><h1>Nazwa</h1></a></li>
                    <li class="right"><a href="/index">Wyloguj</a></li>
                    <li class="right"><a href="/user">
                        <i class="fas fa-user-secret"></i>
                    </a></li>
                    <!-- TODO: Poprawić wysyłanie formularza. -->
                    <li class="right"><a href="/contactClient">Kontakt</a></li>
                    <!-- TODO: Dodać stronę z rywalizacją. -->
                    <li class="right"><a href="#">Rywalizuj</a></li>
                    <li class="right"><a href="/menuClient">Ucz się</a></li>
                </ul>
            </nav>
        </header>
        <slider>
            <slide>
                <!--- th:text="${username}" -->
                <h2>Sprawdź czy wygrasz z Kubą!</h2>
                <!-- TODO: Dodać stronę z trybem rozgrywki. -->
                <button onclick="location.href='#'" type="button" id="login">Zagraj</button>
            </slide>
            <slide>
                <h2>Rywalizuj z innymi użytkownikami o tytuł Króla!</h2>
                <h3>Niech Królowa będzie pod wrażeniem twojej znajomości słownictwa!</h3>
            </slide>
            <slide>
                <h2>Skorzystaj z nowoczesnych sposobów nauki słownictwa,<br>
                    a efekty zobaczysz już po pierwszej lekcji!</h2>
            </slide>
            <slide>
                <h2>Poznaj naszych specjalistów!</h2>
                <button onclick="location.href='#'" type="button" id="hello">Cześć!</button>
            </slide>
        </slider>
    </body>
</html>