<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="description" content="System umożliwi efektywne przyswajanie wiedzy poprzez różnorodne sposoby nauczania.">
        <meta name="keywords" content="angielski, słówka, nauka, poziom, online, słownictwo">
        <meta name="author" content="Weronika Jasiak">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>FishKey</title>
        <link rel="stylesheet" href="../public/css/reset.css" th:href="@{css/reset.css}">
        <link rel="stylesheet" href="../public/css/styleIndex.css" th:href="@{css/styleIndex.css}">
    </head>
    <body>
        <header>
            <nav id="main-nav">
                <ul class="menu">
                    <li>
                        <img src="../public/images/flaga.png" alt="logo" th:src="@{images/flaga.png}" usemap="#logomap">
                        <map name="logomap">
                            <area shape="rect" coords="0,0,100,50" alt="logo" href="/index">
                        </map>
                    </li>
                    <li class="right"><a href="/login">Zaloguj</a></li>
                    <!-- TODO: Poprawić wysyłanie formularza. -->
                    <li class="right"><a href="/contact">Kontakt</a></li>
                </ul>
            </nav>
        </header>
        <section class="slider">
            <div id="slide1">
                <h2>Rozpocznij z nami swoją przygodę z angielskim!</h2>
                <button onclick="location.href='/login'" type="button" id="login">Zaloguj</button>
            </div>
            <div id="slide2">
                <h2>Rywalizuj z innymi użytkownikami o tytuł Króla!</h2>
                <h3>Niech Królowa będzie pod wrażeniem twojej znajomości słownictwa!</h3>
            </div>
            <div id="slide3">
                <h2>Skorzystaj z nowoczesnych sposobów nauki słownictwa,<br>
                   a efekty zobaczysz już po pierwszej lekcji!</h2>
            </div>
            <div id="slide4">
                <h2>Poznaj naszych specjalistów!</h2>
                <button onclick="location.href='/specialists'" type="button" id="hello">Cześć!</button>
            </div>
        </section>
    </body>
</html>