<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/loginstyles.css" th:href="@{css/loginstyles.css}">
</head>
<body>
<div class ="box">
    <h1>Logowanie</h1>
    <form action="/login" th:action="@{/login}" th:object="${user}" method="post">
        <p>Nazwa użytkownika</p>
        <input type="text" class ="field" name ="userName"  th:field="*{userName}" />
        <p>Hasło</p>
        <input type="password" name = "password" class = "field"  th:field="*{password}" />
            <button class = "btn" type="submit">Zaloguj</button>
    </form>
</div>
</body>
</html>