<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="System umożliwi efektywne przyswajanie wiedzy poprzez różnorodne sposoby nauczania.">
        <meta name="keywords" content="angielski, słówka, nauka, poziom, online, słownictwo">
        <meta name="author" content="Weronika Jasiak">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nazwa</title>
        <link rel="stylesheet" href="../public/css/reset.css">
        <link rel="stylesheet" href="../public/css/styleIndex.css">
    </head>
    <body>
        <header>
            <nav id="main-nav">
                <ul class="menu">
                    <li><img src="../public/images/flaga.png" alt="flaga"></li>
                    <li><a href="index.html"><h1>Nazwa</h1></a></li>
                    <li class="right"><a href="login.html">Zaloguj</a></li>
                    <li class="right"><a href="contact.html">Kontakt</a></li>
                    <li class="right"><a class="active" href="#">Menu</a></li>
                </ul>
            </nav>
        </header>
        <section id="menu">
        </section>
    </body>
</html>