<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="System umożliwi efektywne przyswajanie wiedzy poprzez różnorodne sposoby nauczania.">
        <meta name="keywords" content="angielski, słówka, nauka, poziom, online, słownictwo">
        <meta name="author" content="Weronika Jasiak">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nazwa</title>
        <link rel="stylesheet" href="../public/css/reset.css">
        <link rel="stylesheet" href="../public/css/styleIndex.css">
        <script src="../public/js/script.js"></script>
    </head>
    <body onload="open();">
        <header>
            <nav id="main-nav">
                <ul class="menu">
                    <li><img src="../public/images/flaga.png" alt="flaga"></li>
                    <li><a href="index.html"><h1>Nazwa</h1></a></li>
                    <li class="right"><a href="login.html">Zaloguj</a></li>
                    <li class="right"><a href="contact.html">Kontakt</a></li>
                    <li class="right"><a class="active" href="#" onclick="openNav()">&#9776;</a></li>
                </ul>
            </nav>
        </header>
        <section id="menuSidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="centerSidenav">
                <a href="#" onclick="closeNav()">Jedzenie</a>
                <a href="#" onclick="closeNav()">Picie</a>
                <a href="#" onclick="closeNav()">Człowiek</a>
                <a href="#" onclick="closeNav()">Dom</a>
                <a href="#" onclick="closeNav()">Przyroda</a>
                <a href="#" onclick="closeNav()">Rośliny</a>
                <a href="#" onclick="closeNav()">Sport</a>
                <a href="#" onclick="closeNav()">Zwierzeta</a>
                <a href="#" onclick="closeNav()">Zdrowie</a>
                <a href="#" onclick="closeNav()">Transport</a>
                <a href="#" onclick="closeNav()">Czasowniki</a>
                <a href="#" onclick="closeNav()">Szkoła</a>
                <a href="#" onclick="closeNav()">Praca</a>
                <a href="#" onclick="closeNav()">Pieniądze</a>
                <a href="#" onclick="closeNav()">Rozrywka</a>
                <a href="#" onclick="closeNav()">Język</a>
            </div>
        </section>
        <section id="learn">
            <div class="fish">
                <p>tutaj będzie fiszka</p>
            </div>
        </section>
    </body>
</html>