<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nauka</title>
    <link rel="stylesheet" href="css/learningstyle4.css">
    <script th:inline="javascript">
        /*<![CDATA[*/
        words = /*[[${words}]]*/[];
        /*]]>*/

    </script>
    <script src="js/learningscript4.js"></script>
</head>
<body onload="setWord();initializeEnter();">
<div id="container">
<div id="wordToTranslate" ></div>
<input id="wordToCheck">
<div>
    <button class="btn" id="check" onclick="check()">Sprawdź</button>
</div>
<div>
    <button class="btn" id="next" onclick="next()">Dalej</button>
</div>
<div>
    <button class="btn" id="stat" onclick="stats()">Statystyki</button>
</div>
    <div>
    <button type="button" class="btn" id="return" onclick="returnToMain()">Powrót na stronę główną</button>
    </div>
    <div>
        <button type="button" class="btn" id="repeat" onclick="repeat()">Spróbuj ponownie</button>
    </div>
    <div>
        <button type="button" class="btn" id="NextLesson" onclick="nextLesson()">Następna lekcja</button>
    </div>
<div id="checkResult"></div>
<div id="checkResult2"></div>
    <div id="Result"></div>
</div>
</body>
</html>