<!DOCTYPE HTML>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Tryb nauki I</title>
        <meta name="description" content="Tryb nauki - etap pierwszy"/>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/reset.css">
        <script src="js/myscript.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
        <script  th:inline="javascript">
            /*<![CDATA[*/
            words = /*[[${words}]]*/[];
            /*]]>*/
        </script>
    </head>
    <body onload="loadFiche(); initializeCounter();">
        <div id="container">
            <center>
                <h1 id="info">Przerobiono wszystkie słówka!</h1>
                <div id="counter">
                    <span id="ficheNumber"></span><span id="numberOfWords"></span>
                </div>
                <br/>
                <div id="ficheContainer">
                    <div class="front fische" id="frontFiche">
                        <span class="text" id="textENG1"></span>
                        <button type="button" class="speakerButton" onclick="readENG1()">&#x1f50a</button>
                        <br/>
                        <span class="text" id="textPL1"></span>
                        <button type="button" class="speakerButton" id="PLbutton1" onclick="readPL1()">&#x1f50a</button>
                    </div>
                    <div class="back fische" id="backFiche">
                        <span class="text" id="textENG2"></span>
                        <button type="button" class="speakerButton" onclick="readENG2()">&#x1f50a</button>
                        <br/>
                        <span class="text" id="textPL2"></span>
                        <button type="button" class="speakerButton" id="PLbutton2" onclick="readPL2()">&#x1f50a</button>
                    </div>
                </div>
                <button type="button" class="mybutton" id="unlearned" onclick="notLearned()">Nie umiem</button>
                <button type="button" class="mybutton" id="learned" onclick="nextFiche()">Umiem</button>
                <button type="button" class="mybutton" id="showTranslation" onclick="showPL()">Pokaż tłumaczenie</button>
                <button type="button" class="mybutton" id="next" onclick="loadUnlearnedWords()" >Dalej</button>
                <button type="button" class="mybutton" id="nextStage" >Następny etap</button>
            </center>
        </div>
        <script>
            $('#ficheContainer').flip({trigger: 'manual', axis: 'y'});
        </script>
    </body>
</html>
