<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/loginstyles.css" th:href="@{css/loginstyles.css}">
</head>
<body>
<div class ="box">
<h1>Rejestracja</h1>
<form action="/register"  th:object="${user}" method="post">
    <p>Nazwa użytkownika</p>
    <input type="text" class ="field" name ="userName"  th:field="*{userName}" />
    <p>Email</p>
    <input type="email" class= "field" name ="email"  value ="E-mail" th:field="*{email}" />
    <p>Hasło</p>
    <input type="password" name = "password" class = "field"  th:field="*{password}" />
    <p>Potwierdź hasło</p>
    <input type="password" class = "field" name = "matchingPassword" th:field="*{matchingPassword}" />
    <button class = "btn" type="submit">Zarejestruj</button>
</form>
</div>
</body>
</html>