<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Rival mode</title>
</head>
<body>
    <center>
        <form action="/waitingResults" method="post">
            <p>Jak jest pies po angielsku?</p>
            <input type="radio" name="points" value="1"> Dog<br/>
            <input type="radio" name="points" value="0"> Cat<br/>
            <input type="radio" name="points" value="0"> Penguin<br/>
            <input type="submit" value="Podaj odpowiedź">
        </form>
    </center>
</body>
</html>